<% wrap_layout :blog_layout do %>
<%= partial("blog/articleChain") %>
<article title="<%= current_article.title %>" itemscope itemtype="http://schema.org/BlogPosting">
  <%= partial("blog/articleHeader", :locals => { :current_article => current_article, :isIndex => false }) %>
  <div class="articleBody" itemprop="articleBody">
    <%= yield %>
  </div>
  <%= partial("blog/articleFooter", :locals => { :current_article => current_article }) %>
</article>
<%= partial("blog/articleChain") %>
<% end %>
