<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "いっと☆わーくす！" %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="canonical" href="<%= base_url %><%= current_page.url %>"/>

    <%= partial "css/default" %>
    <%= partial "customs" %>

    <meta name="author" content="NoNameA 774">
    <meta name="copyright" content="NoNameA 774 (nonamea774@nnn77) <nonamea774@gmail.com>">
    <meta name="description" content="<%= current_page.data.ogpDescription || ";; This buffer is for notes you don't want to save, and for Lisp evaluation. ;; If you want to create a file, visit that file with C-x C-f, ;; then enter the text in that file's own buffer." %>" />
    <% if current_page.url == "/" || current_page.data.ogpType == "website" %>
      <meta property="og:type" content="website" />
    <% else %>
      <meta property="og:type" content="article" />
    <% end %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="<%= current_page.data.twitterSite || "@nonamea774" %>">
    <meta name="twitter:url" content="<%= base_url %><%= current_page.url %>">
    <meta name="twitter:domain" content="nna774.net">
    <meta name="twitter:creator" content="@nonamea774">
    <meta name="twitter:title" content="<%= current_page.data.title || "いっと☆わーくす！" %>" />

    <meta property="og:title" content="<%= current_page.data.title || "いっと☆わーくす！" %>" />
    <meta property="og:url" content="<%= base_url %><%= current_page.url %>" />
    <meta property="og:image" content="<%= current_page.data.ogpImage || base_url + "/img/1012-ogp.png" %>" />
    <meta property="og:description" content="<%= current_page.data.ogpDescription || ";; This buffer is for notes you don't want to save, and for Lisp evaluation. ;; If you want to create a file, visit that file with C-x C-f, ;; then enter the text in that file's own buffer." %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
 
    <%= partial "analytics" %>

  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <h1 id="itWorks"><a href="/">いっと☆わーくす！</a></h1>
      <p id="scratch">
        ;; This buffer is for notes you don't want to save, and for Lisp evaluation.<br />
        ;; If you want to create a file, visit that file with C-x C-f,<br />
        ;; then enter the text in that file's own buffer.
      </p>
    </header>
    <main role="main">
    <%= yield %>
    </main>
    <footer>
      <%= partial "address" %>
      <%= partial "hostOn" %>
      <%= partial "pageDetail" %>
    </footer>
  </body>
</html>
