<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "いっと☆わーくす！" %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <%= stylesheet_link_tag "default" %>
    <% if not current_page.data.customCSS.nil? %>
      <% current_page.data.customCSS.each_with_index do |css, i| %>
            <%= stylesheet_link_tag css %>
      <% end %>
    <% end %>
    <% if current_page.url == "/" %>
      <meta property="og:type" content="website" />
    <% else %>
      <meta property="og:type" content="article" />
    <% end %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <h1 id="itWorks">いっと☆わーくす！</h1>
      <p id="scratch">
        ;; This buffer is for notes you don't want to save, and for Lisp evaluation.<br />
        ;; If you want to create a file, visit that file with C-x C-f,<br />
        ;; then enter the text in that file's own buffer.
      </p>
    </header>
    
    <%= yield %>

    <footer>
      <%= partial "address" %>
    </footer>
  </body>
</html>
