<header class="articleMeta">
  <h1 class="articleTitle" itemprop="name">
    <a href="<%= current_article.url %>" itemprop="url"><%= current_article.title %></a>
  </h1>
  <time datetime="<%= current_article.date.strftime('%Y-%m-%dT%R%z') %>" itemprop="datePublished">
    <%= current_article.date.strftime('%Y/%m/%d %R') %>
  </time>
  <a rel="author" href="/about/" itemprop="author">久我山菜々</a>
  <a href="<%= current_article.url %>">parmalink</a>
  <% if not current_article.tags.empty? %>
    <span class="tags"> Tags:
      <% current_article.tags.each_with_index do |tag, i| %>
        <a href="<%= tag_path(tag) %>" rel="tag" itemprop="keywords"><%= tag %></a>
      <% end %>
    </span>
  <% end %>
  <% if not isIndex %>
    <span class="socialBookmarks">
      <a href="http://b.hatena.ne.jp/entry/<%= base_url %><%= current_article.url %>" class="hatena-bookmark-button" data-hatena-bookmark-title="<%= current_article.title %>" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.hatena.ne.jp/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      <script type="text/javascript" src="https://b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= base_url %><%= current_article.url %>" data-via="nonamea774" data-lang="ja">ツイート</a>
    </span>
  <% end %>
</header>
