---
title: "いっと☆わーくす！"
---

<div id="mainWrap" class="col-md-12">
    <h2 id="pageName">index</h2>
  <section class ="row row-eq-height wrap">
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <h3><%= link_to "Blog", "/blog/" %></h3>
      がんばって書きます……。
    </section>
    <section class="piet col-xs-6 col-sm-3 col-md-2 select">
      <h3><%= link_to "Piet", "/piet/" %></h3>
      pietについていろいろ書きます。
    </section>
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <h3><%= link_to "About", "/about/" %></h3>
      インターネット上の私
    </section>
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <h3><%= link_to "LifePNG", "/lifepng/" %></h3>
      JavaScript でライフゲームしてそれを画像にできるやつ。
    </section>
    <section class="openyo col-xs-6 col-sm-3 col-md-2 select">
      <h3><%= link_to "OpenYo", "/OpenYo/" %></h3>
      自由で拡張可能なYo クローン
    </section>

  </section>
  <section id="pkgbuild" class="row wrap">
    <div>PKGBUILD 的な物。書き方おかしかったら教えてください。</div>
    <ul>
      <li><a href="https://gist.github.com/nna774/8468487">Gyazo</a> -- using google-chrome-stable</li>
      <li><a href="https://gist.github.com/nna774/8781461">めんまフォント</a> -- <a href="http://www.anohana.jp/tv/special/font.html">めんまフォント</a>のインストーラ</li>
      <li><a href="https://gist.github.com/nna774/8917470">2ch-fortune</a> -- <a href="http://wids.net/lab/">2ch-fortune@Unix板[wids.net laboratory]</a>のインストーラ</li>
    </ul>
  </section>
</div>
